<div class="layout-row align-items-center justify-content-center mt-50">

  <section class="layout-column align-items-center justify-content-between">
    <span class="input layout-row">
      <input type="number" class="large" data-test-id="app-input1" [(ngModel)]="input1"
        (ngModelChange)="onInputChange($event, 'input1')" />
      <label class="suffix" data-test-id="app-label1">{{unit1}}</label>
    </span>
    <select data-test-id="app-select1" [(ngModel)]="select1" (ngModelChange)="onOptionChange($event, 'select1')">
      <option *ngFor="let length of lengthOptions;" [value]="length?.id">{{length.label}}</option>
    </select>
  </section>

  <label>⇋</label>

  <section class="layout-column align-items-center justify-content-between">
    <span class="input layout-row">
      <input type="number" class="large" data-test-id="app-input2" [(ngModel)]="input2"
        (ngModelChange)="onInputChange($event, 'input2')" />
      <label class="suffix" data-test-id="app-label2">{{unit2}}</label>
    </span>
    <select data-test-id="app-select2" [(ngModel)]="select2" (ngModelChange)="onOptionChange($event, 'select2')">
      <option *ngFor="let length of lengthOptions;" [value]="length?.id">{{length.label}}</option>
    </select>
  </section>
</div>
